body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    
}
#backgroundSalad {
    width: 175ch;
    height: auto;
    margin-left: -1ch;
    margin-right: -1ch;
    position: fixed;
    z-index: -10;
    filter: blur(11px);
<<<<<<< HEAD
    
}
.menuLinks {
    color: orange;
    text-align: right;
    font-size: 2ch;
    margin-left: 90ch;
    position: fixed;
    z-index: 20;
    margin-top: -.75ch;
=======
>>>>>>> a087ceb71091271ec28fbb24042e46ccb41c2d0e
}
h1 {
    text-align: center;
    font-family: poppinsFontExtraBold;
    margin-top: 0ch;
}
#bestSalads {
    color:rgb(255, 157, 173);
    font-size: 10ch;
    background-color: rgba(255, 255, 255, 0.396);
    z-index: 6;
}
#topBorder {
    background-color: rgb(255, 99, 125);
    margin-top: 0ch;
    margin-left: -1ch;
    margin-right: -1ch;
    height: 10ch;
    width: 175ch;
    position: fixed;
    top: 0ch;
    z-index: 5;
}
.topBorder2 {
    background-color:rgb(129, 255, 129);
    margin-top: 3ch;
    margin-left: -1ch;
    margin-right: -1ch;
    width: 175ch;
    z-index: 5;
    position: fixed;
}

#orderText {
    margin-left: 50ch;
    margin-right: 50ch;
}
#orangeBowl {
    margin-left: 30ch;
    margin-top: -12.5ch;
    position: absolute;
}

.validName {
    color: rgb(249, 221, 225);
}

.saladsName {
    color: lime;
    text-decoration: underline;
}

#orange {
    background-color: orange;
    margin-bottom: -6ch;
    margin-left: -1ch;
    margin-right: -1ch;
    z-index: 10;
}

h2 {
    font-family: poppinsFontMedium;
    color: orange;
}
#orderHereHeader {
    font-size: 4ch;
    color: rgb(255, 99, 125);
    text-decoration: underline;
    text-align: center;
    
}
button {
    background-color: rgb(205, 255, 211);
    border-color: white;
    size: 20ch;
}
@font-face {
    font-family: poppinsFontMedium;
    src: url(./fontPoppins/Poppins-Medium.ttf);
}
@font-face {
    font-family: poppinsFontExtraBold;
    src: url(./fontPoppins/Poppins-ExtraBold.ttf);
}
@font-face {
    font-family:poppinsLight ;
    src: url(./fontPoppins/Poppins-Light.ttf);
}
@font-face {
    font-family: poppinsRegular;
    src: url(fontPoppins/Poppins-Regular.ttf);
}
input {
    accent-color: rgb(128, 255, 128);
    box-decoration-break: slice;
}
label {
    font-family: poppinsRegular;
}
img {
    height: 10ch;
    margin-right: 10ch;
    margin-left: auto;
}
#backgroundColorChooser {
    background-color: white;
    margin-right: -1ch;
    margin-left: -1ch;
}